{% extends "f_task/menu.html" %}

{% block title %}Хвостики</title>{% endblock %}

{% block pagename %}
<h1>Товары</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <ul>
            <li>
                <img src="{{ url_for( 'static', filename='img/кот/кот1.jpg') }}" alt="Дымчатый Костик">
                <p>Дымчатый Костик <button>Подать заявку</button></p>
            </li>
            <li>
                <img src="{{ url_for( 'static', filename='img/пес/пес1.jpg') }}" alt="Дружелюбная Милка">
                <p>Дружелюбная Милка <button>Подать заявку</button></p>
            </li>
            <li>
                <img src="{{ url_for( 'static', filename='img/пес/пес2.jpg') }}" alt="Верная Макси">
                <p>Верная Макси <button>Подать заявку</button></p>
            </li>
            <li>
                <img src="{{url_for( 'static', filename='img/кот/кот2.jpg' ) }}" alt="Игривый Тедди">
                <p>Игривый Тедди <button>Подать заявку</button></p>
            </li>
            <li>
                <img src="{{ url_for( 'static', filename='img/кот/кот3.jpg') }}" alt="Ласковая Клео">
                <p>Ласковая Клео <button>Подать заявку</button></p>
            </li>
        </ul>
{% endblock %}
