<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css_pack/styles.css' %}"/>
</head>
<body>
    {% block content %}
    <h1>Вход</h1>
    <form method="post">
        {% csrf_token %}
        <label>Введите логин:</label><br>
        <input type="text" name="username" required><br>
        <label>Введите пароль:</label><br>
        <input type="password" name="password" required><br><br>
        <button type="submit">Войти</button>
        <p><button type="button"><a href="http://127.0.0.1:8000/main_page/">Вернуться обратно</a></button></p>
    </form>
    {% endblock %}
</body>
</html>